*{
    box-sizing: border-box;
    overflow-x: hidden;
    /* overflow: hidden; */
    
}

.container{
    /* background-image: linear-gradient(to right top, #e951c9, #b484fe, #66a9ff, #00c4ff, #00d8ff, #00e2f8, #00ebec, #3af3dc, #33f7c7, #48f9ab, #67fa8b, #89f966); */
  /* width: auto;
  height: auto; */
  width: 100vw;
  height: 100vh;
    background-image: linear-gradient(to right top, #e951c9, #b484fe, #66a9ff, #00c4ff, #00d8ff, #00e2f8, #00ebec, #3af3dc, #33f7c7, #48f9ab, #67fa8b, #89f966);
}

.heading{
    text-align: center;
width: 100vw;
font-size: 20px;
font-family: 'freestyle script';
color: rgb(234, 59, 94);
background-image: url(https://media.tenor.com/i0LrRQdS5VUAAAAj/sparkles-fireworks.gif);
/* background-size: auto; */

}

.gif{
    margin-top: 4%;
}
.gif img{
    width: 85vw;
    height: auto;
    margin-left:auto ;
display: block;
    margin-right: auto ;
    /* align-items: center; */
    /* justify-content: center; */
}

.ps{
    color: navy;
    /* width: 100vw; */
    margin: auto;
    font-weight: bold;
    font-family: 'freestyle script';
    font-size: 14px;
    text-align: center;
    margin-top: 20px ;
}

.thanks{
    font-size: 10px;
    color: yellow;
}
.ps img{
    margin-left:auto ;
    margin-right: auto;
}

.footer-gifs{
    display: grid;
    grid-template-columns: auto auto auto;
}
.center{
    width: 50%;
    margin: auto;
}

/* splash screen */

.intro{
    position: fixed;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    animation: dissolve 1s ease-out forwards;
    animation-delay: 15s;
    background-color: rgb(182, 176, 176);
}
.content{
    margin: auto;
    width: 80vw;
height: 80vh;
justify-content: center;
align-items: center;
margin-top: 4%;
}
.intro img{
width: 80vw;
height: 80vh;
object-fit:fit;
background-color: grey;
}

@keyframes dissolve {
    0%{
        opacity: 100%;
    }
    100%{
        opacity: 0%;
        display: none;
}
}