@import url('https://fonts.googleapis.com/css2?fmaily=Roboto:wght@400;700&display=swap');
*{
    box-sizing: border-box;
    overflow-x: hidden;
    /* overflow: hidden; */
}

.container{
    /* background-image: linear-gradient(to right top, #e951c9, #b484fe, #66a9ff, #00c4ff, #00d8ff, #00e2f8, #00ebec, #3af3dc, #33f7c7, #48f9ab, #67fa8b, #89f966); */
  width: auto;
  height: auto;
  background-repeat: no-repeat;
  /* background-size: cover; */
  
    background-image: linear-gradient(to right top, #e951c9, #b484fe, #66a9ff, #00c4ff, #00d8ff, #00e2f8, #00ebec, #3af3dc, #33f7c7, #48f9ab, #67fa8b, #89f966);
}

.heading{
    text-align: center;
width: 100vw;
font-size: 45px;
font-family: 'freestyle script';

}

.gif{
    margin: auto;
}
.gif img{
    width: 50vw;
    height: auto;
    margin-left:100px ;
display: block;
    margin-right: auto ;
    /* align-items: center; */
    /* justify-content: center; */
}

.ps{
    color: rgb(0, 13, 255);
    /* width: 100vw; */
    margin: auto;
    font-weight: bold;
    font-family: 'freestyle script';
    font-size: 35px;
    text-align: center;
    margin-top: 20px ;
}
.ps img{
    margin-left:auto ;
    margin-right: auto;
}

.footer-gifs{
justify-content: center;
align-items: center;
}
.center{
    text-align: center;
    justify-content: center;
align-items: center;
 display: inline-block;
    margin-left: auto;
  margin-right: auto;
    width: 10%;
    height: 10%;
    padding: 5px;
    margin: 20px;
}